@font-face {
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-brands-400.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-regular-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-solid-900.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-v4compatibility.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
